<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  <div class="jumbotron">
<p>First Length is : @Model.GetLength1()</p>
<p>Second Length is : @Model.GetLength2()</p>
<p>Third Length is : @Model.GetLength3()</p>

<h3>@Model.TriangleOne()</h3>

<h2>@Model.Alert()</h2>
</div>
  </body>
</html>
